<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SmartSched | Register</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="login-page">

<div class="container-fluid vh-100">

<div class="row h-100">

<!-- LEFT -->

<div class="col-lg-6 d-none d-lg-flex login-left">

<div class="text-center text-white">

<h1 class="display-4 fw-bold">
SmartSched
</h1>

<p class="lead mt-3">
Secure Web-Based Timetable Planning System
</p>

<p>
Universiti Poly-Tech Malaysia
</p>

</div>

</div>

<!-- RIGHT -->

<div class="col-lg-6 d-flex align-items-center justify-content-center">

<div class="login-card">

<h2 class="fw-bold mb-2">
Create Student Account
</h2>


<form>

<div class="mb-2">

<label class="form-label">Full Name</label>

<input type="text"
class="form-control"
placeholder="Enter your full name">

</div>

<div class="mb-2">

<label class="form-label">
Student ID
</label>

<input type="text"
class="form-control"
placeholder="A23CS001">

</div>

<div class="mb-2">

<label class="form-label">
UPTM Email
</label>

<input type="email"
class="form-control"
placeholder="example@student.uptm.edu.my">

</div>

<div class="mb-2">

<label class="form-label">
Programme
</label>

<select class="form-select">

<option selected disabled>
Select Programme
</option>

<option>Bachelor of Information Technology</option>

<option>Bachelor of Computer Science</option>

<option>Diploma in Information Technology</option>

</select>

</div>

<div class="mb-2">

<label class="form-label">
Password
</label>

<input type="password"
class="form-control">

</div>

<div class="mb-2">

<label class="form-label">
Confirm Password
</label>

<input type="password"
class="form-control">

</div>

<button class="btn btn-primary w-100">

Create Account

</button>

</form>

<hr>

<p class="text-center">

Already have an account?

<a href="{{ url_for('login') }}">

Sign In

</a>

</p>

</div>

</div>

</div>

</div>

</body>

</html>